<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>WELCOME TO THE DETAILED TASK INFORMATION PAGE</h3>
    <p> NAME : {{ details.name }}</p>
    <p> DESCRIPTION : {{ details.description }}</p>
    <p>DUE DATE : {{ details.duedate }}</p>
    <p>STATUS OF THE TASK : {{ details.status }}</p>
    <button><a href="{% url 'simpledisplay' %}">GO BACK</a></button>
</body>
</html>