<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>USERNAME :  </label>
        <input type="text" name="uname" placeholder="enter username">
        <label>PASSWORD :  </label>
        <input type="password" name="pass" placeholder="enter password">
        <input type="submit" name="submit">
    </form>
</body>
</html>