<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'enquiryform' %}">
        {% csrf_token %}
        <label>NAME : </label>
        <input name="name" type="text"><br><br>
        <label>EMAIL : </label>
        <input type="email" name="email"><br><br>
        <label>SURNAME : </label>
        <input type="text" name="sname"><br><br>
        <input type="submit" name="submit">


    </form>
</body>
</html>